<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <div class="columns">
        <div class="column">
          <img
            src="https://i.pinimg.com/originals/07/dd/e4/07dde402c1bca454ee9cad82b44e73c5.png"
            alt=""
          />
        </div>
        <div class="column">
          <h1 id="form-title" class="title">Register</h1>
          <% if (typeof errors != 'undefined') { %> 
          <% errors.forEach(function(error){ %>
          <div class="alert alert-warning alert-dismissible" role="alert">
            <%= error.msg %>
          </div>
          <% }); %> <% } %>
          <form action="/users/register" method="POST">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="username"
                  placeholder="Username"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="password"
                  placeholder="Password"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Your name</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="name"
                  placeholder="What your name is..."
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Year Of Birth</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="YOB"
                  placeholder="What year were you born?"
                />
              </div>
            </div>
            <input type="hidden" name="id" />
            <button id="submit-button" class="button is-primary" type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
